.conda/
.venv/
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
*.pyc
data/raw/*
!data/raw/bank-full.csv
!data/raw/bank-names.txt
reports/figures/*
!reports/figures/.gitkeep
reports/assignment2_report_draft.txt
